$nav-bg-color: #0e1638;
$nav-hover-color: rgb(2, 16, 1);
$nav-color: white;
$nav-border-color: rgb(255, 255, 255);
$transition-time: 0.3s;
$filter-bg-color: #0e1638;
$border-radius-large: 30px;
$border-radius-small: 10px;
$border-radius-dialog: 16px;
$table-bg-color: #0e1638;
$dialog-bg-color: rgb(0 0 0 / 0.8);